# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS Files
.DS_Store
Thumbs.db

# WhatsApp Chat files (to prevent committing personal data)
*.txt
!requirements.txt
*.webp
*.mp4
*.pdf
*.zip

# Streamlit config/files
.streamlit/
